#gallery {
  width: 100%;
  max-width: 80rem;
  padding: 2.5rem 2rem;
  margin-inline: auto;

  header {
    text-align: center;

    span {
      font: 500 var(--text-sm) var(--ff-base);
    }
  }

  img {
    width: 100%;
    border-radius: 2.5rem;
    height: 25rem;
    object-fit: cover;
    transition: scale 350ms;
    animation: image-appear linear backwards;
    animation-timeline: view();
    animation-range: 100px 350px;

    &[data-delay] {
        animation-range: 150px 350px;
    }

    &:hover {
        scale: 1.1;
    }

    &:nth-child(1) {
        grid-area: A;
    }
    &:nth-child(2) {
        grid-area: B;
    }
    &:nth-child(3) {
        grid-area: C;
    }
    &:nth-child(4) {
        grid-area: D;
    }
  }

  .content {
    margin-top: 2rem;
    display: grid;
    grid-template-areas:
      "A B B"
      "C C D";
    gap: 2.5rem;
  }
}

@keyframes image-appear {
    from {
        opacity: 0;
        transform: translateY(100%);
    }
}
